:root {
 --bg-avatar-yellow: #d9d9d9;
}

.wrp-avatar-profil-exh-dash {
 display: flex;
 margin: 4ch 0;
}
.avatar-circle-profil-exh-dash {
 display: flex;
 position: relative;
 color: #fff;

 background: var(--color-base);
}
.avatar-circle-profil-exh-dash img {
 display: flex;
 height: 8em;
 width: 8em;
 border-radius: 100%;
 border: none;
 background: var(--bg-avatar-yellow);
 object-fit: cover;
}

.avatar-circle-profil-exh-dash-sm {
 display: flex;
 flex-direction: column;

 position: relative;
 width: 100%;

 justify-content: center;
 align-items: center;

 position: absolute;
 top: 17%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.avatar-circle-profil-exh-dash-sm img {
 display: flex;

 height: 8em;
 width: 8em;
 background: var(--bg-avatar-yellow);
 border-radius: 100%;

 object-fit: cover;
 justify-content: center;
 align-items: center;
}
