.wrp-logo-validexchange {
 display: flex;
}
.wrp-logo-validexchange img {
 display: flex;
 width: 4em;
 height: 4em;
 object-fit: cover;
}

.wrp-logo-validexchange-sm {
 display: flex;

 position: absolute;
 top: 20%;
 left: 50%;

 transform: translate(-50%, -50%);
}
.wrp-logo-validexchange-sm img {
 display: flex;
 width: 4em;
 height: 4em;
 object-fit: cover;
}
