.wrp-arrow-registerhome {
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;

 position: absolute;
 top: 5%;
 left: 75px;
 transform: translate(-50%, -50%);
}
.wrp-arrow-registerhome-sm {
 display: flex;
 justify-content: space-between;
 align-items: center;
 cursor: pointer;

 position: absolute;
 top: 5%;
 left: 55px;
 transform: translate(-50%, -50%);
}
