.wrp-msg-output-ticked {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 /* padding: 1em 1em; */
 width: 100%;
 /* max-width: 302.36px; */
 background-color: #fff;
 /* background-color: #fdc500; */
}
@media screen {
 .wrp-msg-output-ticked {
  visibility: hidden;
 }
}
