/* .wrp-titles-tickets {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}
.wrp-titles-tickets h2 {
 display: flex;
 font-weight: 300;
 font-size: 1em;
 line-height: 1;
 letter-spacing: 0px;
 margin: 2vh 0;
} */
