.name-head-wallet-slide {
 display: flex;
 flex-direction: column;

 justify-content: center;
 align-items: center;
 margin: 2vh 0;
 width: 100%;
}
.name-head-wallet-slide h2 {
 display: flex;
 font-size: 1.1em;
 font-family: var(--text-family);
 font-weight: 900;
 line-height: 1;
 letter-spacing: 0.1px;
 text-align: center;
 color: #000;

 white-space: nowrap;
}
.name-head-wallet-slide h3 {
 display: flex;
 font-size: 1.1em;
 font-family: var(--text-family);
 font-weight: 900;
 line-height: 1;
 letter-spacing: 0.1px;
 text-align: center;
 margin-top: 8vh;
 color: #000;

 white-space: nowrap;
}
