.wrp-subject-draw {
 display: flex;

 position: absolute;
 top: 35%;
 left: 50%;

 width: 100%;
 max-width: 20em;
 transform: translate(-50%, -50%);
}
.wrp-subject-draw p {
 display: flex;
 font-weight: 400;
 font-size: 1.1889em;
 font-family: var(--text-family);
 text-align: center;
 margin-top: 5vh;
 line-height: 1.1;
 letter-spacing: 0px;
}

/* small view */
.wrp-subject-draw-sm {
 display: flex;

 position: absolute;
 top: 40%;
 left: 50%;

 width: 100%;
 max-width: 80vw;
 transform: translate(-50%, -50%);
}
.wrp-subject-draw-sm p {
 display: flex;
 font-size: 2em;
 font-weight: 400;
 text-align: center;
 font-family: var(--text-family);
 letter-spacing: 0px;
}
