/* .profil-wallet-navs div {
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: start;
}
.profil-wallet-navs img {
 height: 4em;
 width: 4em;
 object-fit: cover;
 padding: 0.2em;

 border-radius: 100%;
} */
