.wrp-valide-exh-usd {
 display: flex;
 width: 100%;
 max-width: 17em;
 gap: 1em;

 justify-content: center;
 align-items: center;
}
.wrp-valide-exh-usd button span {
 display: flex;
 font-size: 1em;
 font-weight: 300;
 line-height: 1;
 letter-spacing: 0px;
}
.wrp-valide-exh-usd-sm {
 display: flex;
 flex-direction: column;
 position: absolute;

 top: 90%;
 left: 50%;

 width: 100%;
 max-width: 96vw;
 transform: translate(-50%, -50%);
}

.wrp-valide-exh-usd-sm button {
 margin: 4vh 0;
}
.wrp-valide-exh-usd-sm button span {
 display: flex;
 font-size: 1em;
 font-weight: 300;
 line-height: 1;
 letter-spacing: 1px;
 margin: 0.3em;
}

.margin-top-btn {
 margin-top: 1.5vh;
}
