.stock-wallet-prix {
 display: flex;
}
.stock-wallet-prix span {
 display: flex;
 font-size: 1.5em;
 font-family: var(--text-family);
 font-weight: 300;
 white-space: nowrap;
 line-height: 1;
 letter-spacing: 0px;
}
.margin-input-stock {
 display: flex;
 margin-left: 0.3em;
}
