.wrp-box-broker-unite {
 display: flex;
 flex-direction: column;

 position: absolute;
 top: 50%;
 left: 50%;

 justify-content: center;
 align-items: center;

 transform: translate(-50%, -50%);
 width: 100%;
}
