/* .user-stock-ima {
 display: flex;
}
.user-stock-ima img {
 height: 2em;
 width: 2em;
 object-fit: cover;
}
.user-stock-ima p {
 display: flex;
 font-size: 1em;
 font-family: var(--text-family);
 font-weight: 300;
 line-height: 1;
 letter-spacing: 0px;
} */
