/* Back Component */
.wrp-link-back {
 display: flex;
 position: absolute;

 bottom: 2%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.wrp-link-back p {
 display: flex;
 cursor: pointer;
 font-size: 1em;
 font-weight: 300;
 font-family: var(--text-family);
 line-height: 1;
 letter-spacing: 0.5px;
 color: var(--purple);
}
