.wrp-qt-buy-brokers {
 display: flex;
 width: 100%;
 justify-content: center;
 align-items: center;
 max-width: 26em;
 margin-bottom: 2vh;
}
.wrp-qt-buy-brokers p {
 display: flex;
 font-size: 1em;
 font-weight: 300;
 line-height: 1.1;
 text-align: start;
 letter-spacing: 0px;
}

/* Small */
.wrp-qt-buy-brokers-sm {
 display: flex;
 width: 100%;
 margin: 8vh 0;
 max-width: 95vw;
}
.wrp-qt-buy-brokers-sm p {
 display: flex;
 font-size: 1em;
 font-weight: 300;
 line-height: 1.1;
 text-align: start;
 letter-spacing: 0.5px;
}
