.wrp-signin-title-save {
 display: flex;
}
.wrp-signin-title-save h1 {
 display: flex;
 font-size: 1.188em;
 font-family: var(--text-family);
 font-weight: 300;
 line-height: 1;
 letter-spacing: 0px;
}
