.wrp-with-sucess {
 display: flex;
}
.wrp-with-sucess img {
 display: flex;
 width: 4em;
 height: 4em;
 object-fit: cover;
}

.wrp-with-sucess-sm {
 display: flex;
}
.wrp-with-sucess-sm img {
 display: flex;
 width: 4em;
 height: 4em;
 object-fit: cover;
}
