.wrp-footer-money {
 display: flex;
 align-items: start;
 width: 100%;
 justify-content: space-between;
 padding: 3em;
 color: #fff;
 background: #000;
}
.wrp-footer-money div span {
 display: flex;
 font-size: 0.7em;
 font-weight: 300;
 line-height: 1;
 letter-spacing: 1px;
}
.wrp-footer-money-sm {
 display: flex;
 flex-direction: column;
 padding: 2em;
 color: #fff;
 background: #000;
}
.wrp-footer-money-sm div {
 display: flex;
 font-size: 1em;
 /* padding: 1.5em; */
 font-weight: 300;
 line-height: 1;
 letter-spacing: 1px;
}
