:root {
 --blue-asked-tontine: #0077b6;
 --grey-asked-tontine: #343a40;
}

.wrp-prix-quote-withdraw {
 display: flex;
 margin-top: 5vh;
 color: var(--blue-asked-tontine);
}
.wrp-prix-quote-withdraw p {
 display: flex;
 font-size: 2.683em;
 font-weight: 300;
 line-height: 1.2;
 text-align: center;
 letter-spacing: 0px;
 font-family: var(--text-family);
}

/* Small prix widthdraw */
.wrp-prix-quote-withdraw-sm {
 display: flex;
 margin-top: 5vh;
 color: var(--blue-asked-tontine);
}
.wrp-prix-quote-withdraw-sm p {
 display: flex;
 font-size: 9.183vw;
 font-weight: 300;
 line-height: 1.2;
 text-align: center;
 letter-spacing: 0px;
 font-family: var(--text-family);
}
